In [12]:
import pandas as pd
import sqlite3
from sqlite3 import Error

#creates function to create or read sqlite/db file
def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

conn = create_connection('test.db')

Connection to SQLite DB successful

In [13]:
c = conn.cursor()

c.execute('CREATE TABLE IF NOT EXISTS products (product_name text, price number)')
conn.commit() #save changes

data = {'product_name': ['Computer','Tablet','Monitor','Printer'],
        'price': [900,300,450,150]
        }

df = pd.DataFrame(data, columns= ['product_name','price'])

In [14]:
df.to_sql('products', conn, if_exists='replace', index = False)

4

In [10]:
 
c.execute('''  
SELECT * FROM products
          ''')

for row in c.fetchall():
    print (row)

('Computer', 900)
('Tablet', 300)
('Monitor', 450)
('Printer', 150)

In [ ]:
c.execute('''  
		SELECT * FROM products
		WHERE price = (SELECT max(price) FROM products)
          ''')

df = pd.DataFrame(c.fetchall(), columns=['product_name','price'])    
print (df)

In [ ]:

# using read_sql_query

df = pd.read_sql_query("SELECT * FROM products",conn)
df